* {
  border: none;
  border-radius: 4px;
  font-family: "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

window#waybar {
  background-color: rgba(50, 50, 50, 0.9);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  background-color: transparent;
  color: #ffffff;
  box-shadow: inset 0 -3px transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  background-color: #64727d;
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray {
  padding: 0 4px;
  margin: 4px 2px;
  color: #333333;
}

#clock {
  background-color: #bbccdd;
}

#battery {
  background-color: #bbccdd;
  color: #333333;
}

#battery.charging {
  color: #ffffff;
  background-color: #26a65b;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #333333;
  }
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#backlight {
  background-color: #bbccdd;
}

#network {
  background-color: #bbccdd;
}

#network.disconnected {
  background-color: #f53c3c;
}

#pulseaudio {
  background-color: #bbccdd;
  color: #333333;
}

#pulseaudio.muted {
  background-color: #bbccdd;
  color: #333333;
}

#tray {
  background-color: #2980b9;
}
